In [1]:
print("Hello World")

Hello World

The ships hung in the sky in much the same way that bricks don’t.

The *ships* hung in the sky in much the same way that bricks don’t.

## The ships hung in the sky in much the same way that bricks don’t.

print("Hello World")

'print("HEllo WOrld")'

```python
print('Hello World!')
```

'print("hello world")'

[SP2273 Website](https://sps.nus.edu.sg/sp2273)

![](https://nus.edu.sg/images/default-source/base/logo.png)

![](https://letsenhance.io/static/73136da51c245e80edc6ccfe44888a99/1015f/MainBefore.jpg)

|Ab |bc |cd|
|hh |jj |hh|

| A    |  B   |    C |
| ---: | :--: | :--- |
| a1   |  b1  |   c1 |

|j |k |j |
|:-|-:|-:|

1. Master Yoda
1. Luke Skywalker
1. Anakin Skywalker

1. Hi
2. Hello
3. Hii

$\sqrt{456}+979$

In [5]:
!cd

C:\Users\Sri Naren the Great\Documents\GitHub\learning-portfolio-2024-aug-greatsnman\1.1_using_jupyter

In [6]:
!conda remove jupyter_contrib_nbextensions

PackagesNotFoundError: The following packages are missing from the target environment:
  - jupyter_contrib_nbextensions

In [1]:
%timeit x=10

17.9 ns ± 0.287 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [3]:
%timeit
x=89
h=67
print("Hello world")

Hello world

In [6]:
%%timeit
x=89
h=67

23.1 ns ± 0.405 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [14]:
def visal(name,age):
    if age<7:
        return 'too yong'
    else:
        return "welcome"

In [12]:
visal("visal",5)

'too yong'

In [9]:
visal("visal",99)

'welcome'

In [17]:
name = 'naren'
if name == 'naren':
    print("great naren")

great naren

In [19]:
name =  "naren"
dumb = "visal"
name = dumb
if name =="naren":
    print("great one")
elif name == "visal":
    print("not so great")

not so great

In [24]:
list_great_people = [ "einstein", "hari", "visal"] #format for list
list_greater_people = [ 
                            [1,"Naren"],
                            [2,"naren2"],
                            [3,"greatestnaren"]
]
print (list_greater_people)
print(list_great_people)

[[1, 'Naren'], [2, 'naren2'], [3, 'greatestnaren']]
['einstein', 'hari', 'visal']

In [31]:
personal_info = {
    'name' : 'naren' ,
    'age' : 21 ,
    'uni' : 'nus',
}
print (personal_info ['name']['age'])

TypeError: string indices must be integers, not 'str'

In [32]:
import math as meth
import numpy as np

In [33]:
np.sqrt(9)

np.float64(3.0)

function
print
add
list
math funtions
# importing packages
storage information varible thing ( forgot name) 
# above is called a dictionary need {}
image display
variable
# things i forgot to list from memory
# comments
# difference betwwen = assign and == check if value is eqaul
# if statements
# indentation sensitivity of python
# string vs variable

In [35]:
x, y = 3, 4
        z = sqrt(x*2 + y**2) # indent wrong also the * usage wrong
    Print(x, y, z) # capital p is wrong and indentation is wrong

IndentationError: unindent does not match any outer indentation level (<string>, line 3)

In [43]:
x, y = 3,4
z = meth.sqrt(x**2 + y**2)
print(x, y, z)

3 4 5.0

# 	Term 	              Description
1 	Function 	          input a variable into the function and it performs an action based on it and returns a result
2 	Arguments 	          check if input matches with another input or predetermined variable/value and return a result that varies
3 	Comments 	          insert text into code that isnt run so you can put notes,mark something or do whatever
4 	Indentations 	      denote position of statement in code, if its part of function or seperate code
5 	Packages 	          list of preprogrammed functions you can 
6 	. 	                  denotes you are calling function from a package
7 	: 	                  denotes postion of items in list or indicates it is in a function
8 	[] 	                  use this in a list
9 	[[],[]] 	          format for a 1d list
10 	{}                    define directory

In [52]:
x,y,z = 5/2 , 5//2 , 2.4%2 # first one is float(got decimal) division, second is integer division(decimal is gone)
# % is modulo function which  return the remainder after divison to lowest possible value
print(x,y,z)

2.5 2 0.3999999999999999

In [53]:
x,y,z,m,n = 1%2, 1.5%2, 1.8 %2, 1.9%2, 2.3%2
print (x,y,z,m,n)

1 1.5 1.8 1.9 0.2999999999999998

In [54]:
x,y,z,m,n = 2.1%2, 2.2%2,  3.4%2, 4.2%2, 5.1%2
print (x,y,z,m,n)

0.10000000000000009 0.20000000000000018 1.4 0.20000000000000018 1.0999999999999996

In [55]:
x,y,z,m,n = 5%2, 6.1%2,  6.2%2, 4.6%2, 5.2%2
print (x,y,z,m,n)

1 0.09999999999999964 0.20000000000000018 0.5999999999999996 1.2000000000000002